services:
  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    restart: unless-stopped
    network_mode: host   # Recommended for DNS to work reliably
    volumes:
      - ./adguard/work:/opt/adguardhome/work
      - ./adguard/conf:/opt/adguardhome/conf
    environment:
      - TZ=Europe/Kyiv

  gatus:
    container_name: gatus
    image: twinproduction/gatus
    ports:
      - "8090:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
      - ./data:/data/
    environment:
      - GATUS_CONFIG_PATH=/config/config.yaml
    restart: unless-stopped
  
  portainer:
    image: portainer/portainer-ce
    container_name: portainer
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    restart: unless-stopped

  homeassistant:
    container_name: homeassistant
    image: ghcr.io/home-assistant/home-assistant:stable
    volumes:
      - ./homeassistant:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    network_mode: host
    privileged: true

  nocodb:
    image: nocodb/nocodb:latest
    container_name: nocodb
    ports:
      - "9100:8080"
    volumes:
      - ./nocodb:/usr/app/data
    restart: unless-stopped

  blog:
    container_name: blog
    build:
      context: https://github.com/andriyor/blog.git
    ports:
      - "8080:80"
    restart: unless-stopped

  airtable:
    container_name: airtable-wrapper
    build:
      context: https://github.com/andriyor/airtable-wrapper.git#main
    ports:
      - "8000:80"
    volumes:
      - ./app:/app/app:rw,cached # live reload
      - ./airtable/database.db:/app/database.db
    environment:
      - AIRTABLE_API=${AIRTABLE_API}
    restart: unless-stopped


volumes:
  portainer_data:
  adguard: