[alias]
  current-branch = "!git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \\(.*\\)/\\1/'"
  a  = "!git add . && git s"
  ma = "!git merge --abort"
  ra = "!git rebase --abort"
  ch = checkout
  c  = commit -m
  ac = commit -am
  s  = status --short --branch
  f  = fetch
  d  = diff
  ds = diff --shortstat --cached
  l  = "!git pull origin $(git current-branch)"
  h  = "!git push origin $(git current-branch)"
  lh = "!git l && git h"
  rm  = "!git rm $(git ls-files --deleted) && git status"
  r  = "!git reset --hard origin/$(git current-branch)"
  lg = log --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset' --abbrev-commit


[core]
  editor = micro

[diff]
    external = difft

[includeIf "gitdir:~/git/work/"]
    path =  ~/.gitconfig.work

[includeIf "gitdir:~/git/personal/"]
    path =  ~/.gitconfig.personal
	
name = Andrii Oriekhov
email = andriyorehov@gmail.com

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
